Analysis of the indeed job board postings for search terms 'customer analytics' and 'data scientist' and so on.

## 1) Admin and Setup

I've already created a virtual environment in conda by downloading bs4. Please feel free to use my environment.yaml to create a similar virtual env. I'll update it as I go.

In [1]:
#from bs4 import BeautifulSoup
#from urllib2 import urlopen
import pandas as pd
import re
import numpy as np
#from time import sleep
%matplotlib inline
import pylab as plt

## 2) What do I want to achieve

Explore the indeed job board collected over the past few days and analyse / predict job decay for various organisations / job functions

## 3) Source data from the csv file

In [3]:
#df_joblist = get_data_job_board('data scientist','customer analytics','data analysis')
df_joblist = get_data_job_board('customer analytics','data scientist','data analysis')

930  jobs found for search terms: CUSTOMER ANALYTICS , DATA SCIENTIST , DATA ANALYSIS
Fetching details for jobs 1 to 10
Fetching details for jobs 11 to 20
Fetching details for jobs 21 to 30
Fetching details for jobs 31 to 40
Fetching details for jobs 41 to 50
Fetching details for jobs 51 to 60
Fetching details for jobs 61 to 70
Fetching details for jobs 71 to 80
Fetching details for jobs 81 to 90
Fetching details for jobs 91 to 100
Fetching details for jobs 101 to 110
Fetching details for jobs 111 to 120
Fetching details for jobs 121 to 130
Fetching details for jobs 131 to 140
Fetching details for jobs 141 to 150
Fetching details for jobs 151 to 160
Fetching details for jobs 161 to 170
Fetching details for jobs 171 to 180
Fetching details for jobs 181 to 190
Fetching details for jobs 191 to 200
Fetching details for jobs 201 to 210
Fetching details for jobs 211 to 220
Fetching details for jobs 221 to 230
Fetching details for jobs 231 to 240
Fetching details for jobs 241 to 250
Fetching details for jobs 251 to 260
Fetching details for jobs 261 to 270
Fetching details for jobs 271 to 280
Fetching details for jobs 281 to 290
Fetching details for jobs 291 to 300
Fetching details for jobs 301 to 310
Fetching details for jobs 311 to 320
Fetching details for jobs 321 to 330
Fetching details for jobs 331 to 340
Fetching details for jobs 341 to 350
Fetching details for jobs 351 to 360
Fetching details for jobs 361 to 370
Fetching details for jobs 371 to 380
Fetching details for jobs 381 to 390
Fetching details for jobs 391 to 400
Fetching details for jobs 401 to 410
Fetching details for jobs 411 to 420
Fetching details for jobs 421 to 430
Fetching details for jobs 431 to 440
Fetching details for jobs 441 to 450
Fetching details for jobs 451 to 460
Fetching details for jobs 461 to 470
Fetching details for jobs 471 to 480
Fetching details for jobs 481 to 490
Fetching details for jobs 491 to 500
Fetching details for jobs 501 to 510
Fetching details for jobs 511 to 520
Fetching details for jobs 521 to 530
Fetching details for jobs 531 to 540
Fetching details for jobs 541 to 550
Fetching details for jobs 551 to 560
Fetching details for jobs 561 to 570
Fetching details for jobs 571 to 580
Fetching details for jobs 581 to 590
Fetching details for jobs 591 to 600
Fetching details for jobs 601 to 610
Fetching details for jobs 611 to 620
Fetching details for jobs 621 to 630
Fetching details for jobs 631 to 640
Fetching details for jobs 641 to 650
Fetching details for jobs 651 to 660
Fetching details for jobs 661 to 670
Fetching details for jobs 671 to 680
Fetching details for jobs 681 to 690
Fetching details for jobs 691 to 700
Fetching details for jobs 701 to 710
Fetching details for jobs 711 to 720
Fetching details for jobs 721 to 730
Fetching details for jobs 731 to 740
Fetching details for jobs 741 to 750
Fetching details for jobs 751 to 760
Fetching details for jobs 761 to 770
Fetching details for jobs 771 to 780
Fetching details for jobs 781 to 790
Fetching details for jobs 791 to 800
Fetching details for jobs 801 to 810
Fetching details for jobs 811 to 815

## Analyse and clean job dataset

In [4]:
len(df_joblist)

815

In [5]:
df_joblist.head(3)

,query_date,jobtitle,companyname,location,advertised_number_of_days_ago,company_rating,company_rating_counts,salary,summary,joblink,job_query_string
0,2016-06-19,Head of Data Analytics & Innovation,ChildFund Australia,Sydney NSW,10 days ago,None,None,None,Tell us about a project you have worked on and...,http://www.indeed.com/rc/clk?jk=ecf32b383cbb55...,%22customer+analytics%22+%22data+scientist%22+...
1,2016-06-19,"Senior Data Analyst, Health Information & Repo...",Victorian Government,Melbourne City Centre VIC,5 days ago,None,None,None,The Senior Data Analyst is responsible for des...,http://www.indeed.com/rc/clk?jk=982e1fedce0b64...,%22customer+analytics%22+%22data+scientist%22+...
2,2016-06-19,Senior Data Analyst,Expedia,Sydney NSW,26 days ago,None,237 reviews,None,Deliver impactful analysis based on robust eco...,http://www.indeed.com/rc/clk?jk=c646df9ca1f9f7...,%22customer+analytics%22+%22data+scientist%22+...

#### Check how many rows have salaries

In [11]:
df_joblist.salary.isnull().sum()

655

In [12]:
len(df_joblist)

815

In [13]:
print int(df_joblist.salary.isnull().sum())
print len(df_joblist)

655
815

So 80% of jobs don't have salary populated

In [14]:
df_joblist.salary.describe()

count                160
unique                82
top       $65,000 a year
freq                   8
Name: salary, dtype: object